@charset "UTF-8";

#header{
    position: fixed;
    width: 100%;
    height: 80px;
    z-index: 1993;
    display: flex;
    border-bottom: 1px solid #eee;
    justify-content: center;
    background-color: white;
    
    
}

#header > div,
#footer > div {
    display: flex;
    width: 1200px;

}
.header-area {
    width: 100%;
    height: 100px;
}

.logo-box {
    display: flex;
    align-items: center;
}

.logo {
    width: 100%;
    height: 100%;
}

.logo-box  div {
    display: flex;
    height: 100%;
    width: 200px;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-weight: 800;
}

.menu-list-box {
    display: flex;
    flex-grow: 1;
    justify-content: center;
}

.menu-list {
    display: flex;
    height: 100%;
}

.menu-list  li {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    font-size: 20px;
    font-weight: 900;
}

.menu-list  li a:hover {
    color: black;
}

.sign-tab {
    display: flex;
    flex-wrap: wrap;
}

.sign-tab ul {
    display: flex;
    width: 200px;
    height: 100%;
}

.sign-tab ul li {
    display: flex;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    font-weight: 600;
}

.sign-tab ul li a {
    width: 90px;
    height: 30px;
    text-align: center;
    line-height: 28px;
    border-radius: 20px;

}

.sign-tab ul li a:hover {
    background-color: #373A3C;
    color: white;
}

.dropdown-nav {
	display:flex;
	width:100%;
	height: 100%;
}
.dropdown-nav,
.dropdown-nav ul {
	margin: 0;
    padding: 0;
    list-style: none;
    color: #373A3C;
    font-size:16px;
    text-align: center;
}
.dropdown-nav li {
	padding: 0.5em;
}
.dropdown-nav > li {
	position: relative;
	width: 120px;
	height: 100%;
}
.dropdown-nav > li.right-menu {
	padding: 0.5em 0;
	width: auto;
	height: 100%;
	min-width: 120px;
}
.dropdown-nav ul {
    position: absolute;
    top:100%;
    left:0;
}
.dropdown-nav ul {
    display: none;
}
.dropdown-nav li:hover > ul {
    display: block;
}
.dropdown-nav a{
    display: block;
    width: 100%;
    text-decoration: none;
    color: #373A3C;;
    text-align: center;
}
.dropdown-nav ul {
    width: 100%;
    background-color: white;
	border-radius: 10px;
    box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.1);
    padding: 0.5em;
    min-height: 120px;
}
.dropdown-nav li:hover > a {
    color: #373A3C;
    font-weight: bold;
}

/* 9) */
.dropdown-nav {
    position: relative;
}
.dropdown-nav > .right-menu {
    position: absolute;
    right: 100;
    top: 0;
}


