<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="ingredient">

	<select id="adminList" parameterType="ListSearchVO" resultType="IngredientDto">
		select * from (
			select tmp.*, rownum rn from(
				select * from ingredient 
				<where>
					<if test="type != null and keyword != ''">
						instr(${type}, #{keyword}) > 0 
					</if>
				</where>
				<if test="sort != null">
					order by ${sort}
				</if>
			  ) tmp
		) where rn 
		<choose>
			<when test="endPost != null">
				between ${startPost} and ${endPost}
			</when>
			<otherwise>
				> 0
			</otherwise>
		</choose>
	</select>
	
	<select id="cate" resultType="String">
		select distinct(ingredient_category) from ingredient order by ingredient_category asc 
	</select>
	
		<select id="searchList" parameterType="String" resultType="String">
		select ingredient_name from ingredient 
		where instr(ingredient_name, #{ingredientName}) > 0 
		order by ingredient_name asc
	</select>
	
	<select id="adminSelect" parameterType="String" resultType="String">
		select ingredient_name from ingredient where ingredient_name=#{ingredient_name}
	</select>

	<update id="adminUpdate" parameterType="map">
		update ingredient set 
			ingredient_name = #{ingredientName}, ingredient_category = #{ingredientCategory} 
		where ingredient_name = #{originName}
	</update>
</mapper>


