<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="mypage">
	<!-- 유저 정보 -->
	<select id="userInfo" parameterType="String" resultType="MemberDto">
		select * from member where member_id = #{memberId}
	</select>
	
	<!-- 최근 본 게시물 리스트 -->
	<select id="viewList" parameterType="String" resultType="RecipeDto">
		select R.* from recipe R 
		inner join recipe_view RV on R.recipe_no = RV.recipe_view_no where RV.recipe_view_id = #{memberId} 
		order by RV.recipe_view_time
	</select>
	
	<!-- 좋아요 한 레시피 리스트 -->
	<select id="likeList" parameterType="String" resultType="RecipeDto">
		select * from recipe where recipe_no in (select recipe_like_no from recipe_like where recipe_like_id = #{memberId})
	</select>
	
	<!-- 내가 쓴 글 리스트 -->
	<select id="myRrite" parameterType="String" resultType="BoardDto">
		select * from board where board_id = #{memberId}
	</select>
	
	<!-- 내가 좋아요 한 글 카운트 -->
	<select id="myLikeListCount" parameterType="String" resultType="MyLikeListCountVO">
		select count(*) LIKECOUNT from recipe where recipe_no in (select recipe_like_no from recipe_like where recipe_like_id = #{memberId})
	</select>
	
	
	<!-- 비밀번호 확인 -->
	<select id="pwConfirm" parameterType="String" resultType="String">
		select member_pw from member where member_id = #{memberId}
	</select>
	
	<!-- 회원정보 수정 -->
	<update id="editInfo" parameterType="MemberDto">
		update member set member_pw = #{memberPw}, member_nick = #{memberNick}, 
		member_gender = #{memberGender}, member_phone = #{memberPhone} 
		where member_id = #{memberId}
	</update>
	
	<!-- 회원 탈퇴 -->
	<delete id="memberWithdrawal" parameterType="String">
		delete member where member_id = #{memberId}
	</delete>
	
	<!-- 프로필 사진 출력 -->
	<select id="profileImg" parameterType="String" resultType="AttachmentDto">
		 
		<!-- select profile_attachment_no from profile_img where profile_id = #{memberId} -->
		 
		 <!-- select P.profile_attachment_no from 
		 member M left outer join profile_img P on M.member_id = P.profile_id where M.member_id = #{memberId} -->
		 
		 select * from attachment A inner join profile_img P on A.attachment_no = P.profile_attachment_no where P.profile_id = #{memberId}
	</select>
	
	
</mapper>