<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="recipe">

	<!--  레시피 등록 시퀀스 추가  -->
	<select id = "recipeNo" resultType="int">
		select recipe_seq.nextval from dual
	</select>

	<!--  추가  -->
	<insert id = "insert" parameterType = "RecipeDto">
		insert into recipe(recipe_no, recipe_nick, recipe_title, recipe_info, recipe_time, recipe_hashtag, recipe_difficulty)
		values(#{recipeNo}, #{recipeNick}, #{recipeTitle}, #{recipeInfo}, #{recipeTime}, #{recipeHashtag} #{recipeDifficulty})
	</insert>
	
	<!--  목록 조회  -->
	<select id = "list" resultType = "RecipeDto">
		select * from recipe order by recipe_no desc
	</select>
	
	<!--  단일 조회 -->
	<select id = "one" parameterType="int" resultType="RecipeDto">
		select * from recipe  where recipe_no = #{recipeNo}
	</select>
	
	<!-- 수정 -->
	<update id = "edit" parameterType = "RecipeDto">
		update recipe
		set
			recipe_title = #{recipeTitle},
			recipe_info = #{recipeInfo},
			recipe_time = #{recipeTime},
			recipe_hashtag = #{recipeHashtag},
			recipe_difficulty = #{recipeDifficulty},
		where
			recipe_no = #{recipeNo}	
	</update>
	
	<delete id = "delete" parameterType = "int">
		delete recipe where recipe_no = #{recipeNo}
	</delete>
	
	<select id="adminList" parameterType="RecipeListSearchVO" resultType="RecipeListSearchVO">
		select * from recipe
		<!-- 검색 -->
		<where>
			<!-- 이름, 관리자 유사 대상 검색 -->
			<if test="recipeTitle != null">
				and instr(recipe_title, #{recipeTitle}) > 0
			</if>
			<if test="recipeNick != null">
				and instr(recipe_nick, #{recipeNick}) > 0
			</if>
		</where>
	 	<!-- 정렬 -->
	 	<if test="sort != null">
	 		order by
	 		<foreach collection="sort" item="s" separator=",">
	 			${s}
	 		</foreach>
	 	</if>
	</select>
	
	<select id="adminDetail" parameterType="int" resultType="RecipeDto">
		select * from recipe where recipe_no=#{recipeNo}
	</select>
	
</mapper>











